function startHtml() {
  const html = `<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Employee Contact List</title>
  </head>
  <body>
      <nav class="navbar navbar-dark bg-dark mb-5">
          <span class="navbar-brand mb-0 h1 w-100 text-center">Employee Contact List</span>
      </nav>
      <div class="container">
          <div class="row">`;
  fs.writeFile("./output/team.html", html, function(err) {
      if (err) {
          console.log(err);
      }
  });
  console.log("start");
}

function addHtml(employee) {
  return new Promise(function(resolve, reject) {
      const name = employee.getName();
      const id = employee.getId();
      const email = employee.getEmail();
      const role = employee.getRole();
      let data = "";
      if (role === "Engineer") {
          const gitHub = member.getGithub();
          data = `<div class="col-6">
          <div class="card mx-auto mb-3" style="width: 18rem">
          <h5 class="card-header">${name}<br /><br />Engineer</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: ${id}</li>
              <li class="list-group-item">Email Address: ${email}</li>
              <li class="list-group-item">GitHub: ${gitHub}</li>
          </ul>
          </div>
      </div>`;
      } else if (role === "Intern") {
          const school = member.getSchool();
          data = `<div class="col-6">
          <div class="card mx-auto mb-3" style="width: 18rem">
          <h5 class="card-header">${name}<br /><br />Intern</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: ${id}</li>
              <li class="list-group-item">Email Address: ${email}</li>
              <li class="list-group-item">School: ${school}</li>
          </ul>
          </div>
      </div>`;
      } else {
          const officePhone = member.getOfficeNumber();
          data = `<div class="col-6">
          <div class="card mx-auto mb-3" style="width: 18rem">
          <h5 class="card-header">${name}<br /><br />Manager</h5>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">ID: ${id}</li>
              <li class="list-group-item">Email Address: ${email}</li>
              <li class="list-group-item">Office Phone: ${officeNum}</li>
          </ul>
          </div>
      </div>`
      }
      console.log("adding team member");
      fs.appendFile("./output/team.html", data, function (err) {
          if (err) {
              return reject(err);
          };
          return resolve();
      });
  });
  
  
}

function finishHtml() {
  const html = ` </div>
  </div>
  
</body>
</html>`;

  fs.appendFile("./output/team.html", html, function (err) {
      if (err) {
          console.log(err);
      };
  });
  console.log("end");
}